body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #333;
    margin-top: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    margin: 10px;
    width: calc(100% - 22px);
    font-size: 16px;
    border: 1px solid #ccc;
}

form {
    display: flex;
    flex-direction: column;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
    padding: 10px;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
}

#checkout {
    background-color: #2196F3;
    margin-top: 20px;
}

#checkout:hover {
    background-color: #0b7dda;
}

.products, .cart, .add-product, .history {
    margin-bottom: 20px;
}

.container > h2 {
    margin-top: 20px;
}
